p {
    margin-top: -10px;
    font-family: Inter, sans-serif;
}

body {
   margin: 0
    
}

.hero {
    font-family: Inter, sans-serif;
    display: flex;
    margin: 0 auto;
    height: 650px;
    width: 550px;
    background: #1F2937;
    color:whitesmoke;
    
}

.main {
    padding: 60px;
}

#rp {
    margin-top: -25px;
    color: #f79c14;
}

button {
    font-family: Inter, sans-serif;
    padding: 0.5em 1em;
    background: #2F3E53;
    color: whitesmoke;
    border: solid 1px rgb(75, 74, 74);
    margin-top: 30px;
    border-radius:4px;
}

#line {
    display: flex;
    width: 425px;
    border-bottom: solid 2px #2F3E53;
    margin: -100px auto 0 auto;
}

#passes {
    width: 425px;
    display: flex;
    margin: 20px auto;
    justify-content: space-around;
}

#passes:hover {
    cursor: pointer;
}

#inputBox1 {
    font-family: Inter, sans-serif;
    color: #f79c14;
    display: flex;
    width: 200px;
    max-width: 300px;
    height:40px;
    background: #273549;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    padding: 1em;
    
}

.conditionBtns {
    margin: 0.5em;
    cursor: pointer;
}

.lengthSelect {
    width: 80%;
    margin-bottom: 2em;
    padding: 0.25em;
}

.burntOrange {
    background-color: #b3710f;
    font-size: 18px;
    padding: 0.75em 1.5em;
    cursor: pointer;
}

.siteHead {
    font-size: 2.1rem;
}